body {
  margin: 0;
  background: #367778;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color: #E0DEDA;
}
/*Nav*/
#navHeader {
  outline: none;
  width: 100%;
  height: auto;
  color: #fff;
  background: linear-gradient(90deg, #000000 5%, #2C666E);
  position: static;
  border-bottom: 4px solid #D63E80;
}

#logoDiv img {
  height: 90px;
  width: auto;
}

.container {
  margin-left: 7%;
  margin-right: 7%;
}

.pageTitle {
  text-align: center;
}

.submitButton {
  width: 100px;
  height: 40px;
  border: none;
  font-size: 16px;
  background-color: #D63E80;
  color: #E0DEDA;
}

select {
  font-size: 14px;
}

input {
  font-size: 14px;
}

#footerbottom {
padding: 1rem;
font-size: 7px;
}
